/* Option 2: Import via CSS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
/* .app__Navbar{
    width: 100%;
    height: 6rem;
  
} */
.app__Navbar-container{
    width: 100%;
    height: 6rem;
    padding: 0 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 9999;
}
.app__Navbar-container_navmenu{
    margin-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app__Navbar-container_navmenu-logo{
    margin-right: 0;
    display: flex;
    border-radius: 50%;
    justify-content: center;
}
.app__Navbar-container_navmenu-logo img{
    width: 50px;
    height: 50px;
}

.app__Navbar-container_navmenu-logo img:hover{
    cursor: pointer;
}

.app__Navbar-container_navmenu-links{
    display: flex;
   
    justify-content: center;
}

.app__Navbar-container_navmenu-links li{
    list-style: none;
    margin: 0 1rem;
    font-family: "Helvetica Neue",Helvetica;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.app__Navbar-container_side{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.app__Navbar-container_side button:nth-of-type(1){
    margin: 0 1rem;
    border: 0.5px solid black;
    outline: none;
    border-radius: 50px;
    background: white;
    padding: .4rem 1rem;
    min-width: 5rem;
    font-family: "Helvetiva", Helvetica;
    font-weight: bold;
    transition: all 300ms ease;
}

.app__Navbar-container_side button:nth-of-type(2){
    margin: 0 1rem;
    border: none;
    outline: none;
    border-radius: 50px;
    background: black;
    padding: .4rem 1rem;
    min-width: 5.5rem;
    font-family: "Helvetiva", Helvetica;
    font-weight: bold;
    color: white;
    transition: all 300ms ease;
}

.app__Navbar-container_side button:nth-of-type(1):hover{
    cursor: pointer;
    background: rgba(0, 0, 0, 0.2);
}

.app__Navbar-container_side button:nth-of-type(2):hover{
    cursor: pointer;
    background: rgba(0,0,0,0.65);
}


.app__Navbar-container_side-find{
    display: flex;
    justify-content: space-around;
    padding: 0 1rem 0 0;
    font-family: "Helvetica Neue", Helvetica;
    font-weight: bold;
}

.app__Navbar-container_side-find:hover{
    color: green;
    cursor:pointer;
}

.app__Navbar-container_side-find span{
    margin-left: 0.4rem;

}





.app__Navbar-container_navmenu-links_tags {
    text-decoration: none;
    color:inherit;
}

.app__Navbar-container_navmenu-links_tags:hover{
    color: green;
    cursor: pointer;
}

/* mobile styling section */
.app__Navbar-smallscreens{
    display: none;
}

.app__Navbar-smallscreens_overlay{
    position: absolute;
    top: 5rem;
    right: -1.5rem;
    width: 75vw;
    height: calc(86vh);
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    align-items: flex-start;
    outline:1000px solid rgba(0, 0, 0, 0.2);
    z-index: 2;
    
}

.app__Navbar-smallscreens_links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.app__Navbar-smallscreens_links li{
    list-style: none;
    font-family: 'Helvetica Neue', Helvetica;
    font-weight: 548;
    letter-spacing: 0.04rem;
    font-size: 1.5rem;
    padding: 1rem 2rem;
}



.app__Navbar-smallscreens_overlay hr{
    width: 90%;
    margin: auto;
    background: rgba(0, 0, 0, 0.2);
    height: 1px;

}

.app_Navbar-smallscreens_side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
   
    padding: 1rem 2rem;
    min-height: 150px ;
    
}

.app_Navbar-smallscreens_side-find{
    margin-left: 1rem;
    margin-bottom: 1rem;
    
}

.app_Navbar-smallscreens_side-find{
    display: flex;
    flex-direction: column;
}
/* .app_Navbar-smallscreens_side-find btn{

} */


.app__Navbar-smallscreens_links-tags{
    text-decoration: none;
    color: inherit;
}




/* media section */

@media (min-width:1024px){
    .app__Navbar-container{
        padding: 0 2.5rem;
        z-index: 9999;
    }
}

@media (max-width:1000px){
    .app__Navbar-container{
        padding: 0 1.5rem;
        height: 5rem;
    }
}

@media (max-width:790px){
    .app__Navbar-container_navmenu-links,
    .app__Navbar-container_side{
        display: none;
    }
    .app__Navbar-smallscreens{
        display: flex;
        position: relative;
        height: 100%;
        justify-content: center;
        align-items: center;
        
    }
    .app__Navbar-smallscreens div i{
       font-size: 1.5rem;
    }
    .app_Navbar-smallscreens_icons{
        font-size: 1.5rem;
    }

}
